# Enable URL rewriting
RewriteEngine On

# Rule to remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

<VirtualHost *:443>
    # Enable HSTS for one year and apply it to all subdomains
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</VirtualHost>

<VirtualHost *:443>
    # Allow framing only from the same origin
    Header always set X-Frame-Options "SAMEORIGIN"
</VirtualHost>

<VirtualHost *:443>
    # Prevent MIME sniffing
    Header always set X-Content-Type-Options "nosniff"
</VirtualHost>

# Enable HTTP headers
<IfModule mod_headers.c>
    # Set Referrer-Policy header
    Header set Referrer-Policy "no-referrer-when-downgrade"
</IfModule>